body {
    background-color: rgb(81, 72, 146);
    border-image: round;
}
h1 {
    color:blue; 
    text-align: center; 
}
h2 {
    color:rgb(238, 16, 138);
    text-align: center; 
}
h3 {
    color: black;
    text-align: left; 
}
h4 {
    color:black;
    text-align: right;
}
h5 {
    color:antiquewhite;
    text-align: right;
}
p {
    color: aliceblue;
    text-align: center; 
}
th {
    color:black;
    text-align: left; 
}
td {
    color:antiquewhite;
    text-align: left; 
}

